.frappe-main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.frappe-dummy-login-card {
    margin: auto;
    display: flex!important;
    flex-direction: column!important;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.frappe-login-button {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}

.ant-card-body {
    display: flex;
}