.frappe-main-page {
    width: 100%;
    height: 100%;
    display: flex;
}


.frappe-dummy-login-card {
    margin: auto;
    height: 150px;
}

.frappe-login-button {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}